<br><br><br><br><br><br><br><br><br>

<div class="center container main-title">
  <div class='row '>
    <h1 class='m-title'><strong>Tell Us Your Location and We'll Come Save You!</strong></h1>
  </div>
  <div class='row  inputs'>
    <input class='location-form' id='service_request_name' type='text' placeholder='Name'></input>
    <input class='location-form' id='service_request_phone_number' type='text' placeholder='Phone Number'></input><br><br>
  </div>
    <div class='row '>
      <input class='location-form' id='service_request_car_features' type='text' placeholder='Car make & model'></textarea><br><br>
    </div>
    <div class="row ">
      <div id='demo' class='location-div'>
        <h1></h1>
      </div>
    </div>
    <div class="row ">
      <button class='btn round' onclick="geoFindMe()">
        <h1><strong>Send My Location</strong></h1>
      </button>
    </div>
</div>
<p></p>
<script>

function geoFindMe() {
  var output = document.getElementById("demo");

  if (!navigator.geolocation){
    output.innerHTML = "<p>Geolocation is not supported by your browser</p>";
    return;
  }

  function success(position) {
    var name = document.getElementById("service_request_name").value;
    var phoneNumber = document.getElementById("service_request_phone_number").value;
    var carFeatures = document.getElementById("service_request_car_features").value;
    var latitude  = position.coords.latitude;
    var longitude = position.coords.longitude;
    var dataHash = {name: name, phone_number: phoneNumber, car_features: carFeatures, latitude: latitude, longitude: longitude}
    var xmlhttp =  new XMLHttpRequest();
    console.log(dataHash)
    // xmlhttp.open('POST', 'https://www.helpsinroute.com/create_request', true);
    // xmlhttp.withCredentials = true
    // xmlhttp.setRequestHeader("Access-Control-Allow-Origin", true);
    // xmlhttp.send(request_hash=dataHash)

    $.ajax({
      type: "POST",
      url: window.location.origin+"/create_request",
      data: { request_hash: dataHash }
    })
    output.innerHTML = "<p class='m-title'>Latitude is " + latitude + "° <br>Longitude is " + longitude + "°</p><br><h3 class='m-title'>Sending Your Location Now<h3>";

    var img = new Image();
    img.src = "https://maps.googleapis.com/maps/api/staticmap?center=" + latitude + "," + longitude + "&zoom=13&size=300x300&sensor=false";

    output.appendChild(img);

  }

  function error() {
    output.innerHTML = "<h3 class='m-title'>Unable to retrieve your location</h3>";
  }
  output.innerHTML = "<h3 class='m-title'>Locating…</h3>";
  navigator.geolocation.getCurrentPosition(success, error);
}

</script>
