/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

body{
  // background-image:
  margin-bottom: 0px;
  background-image: image-url(INR_OverheadMap);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  vertical-align: top;
  max-height: 500px;
  .over-lay{
    background-color: rgba(255,255,255,0.5);
    @media(min-width: 1000px) {
      min-height: 700px;
    }
    @media(min-width: 700px){
      min-height: 1800px;
    }
  }
}
.main-title{
  vertical-align: middle;
}

#service_request_car_features{
  min-width: 600px;
}

.navbar{
  background-color: rgba(255,255,255,0.5);
  // min-height: 100px;
}

.location-form{
  background-image: none;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.87);
  color: rgba(0,0,0,0.87);
  min-width: 400px;
  margin-left: 5px;
  @media(min-width: 1000px) {
    min-height: 700px;
  }
  @media(min-width: 900px){
    min-height: 200px;
    min-width: 500px;
    font-weight: bold;
    font-size: 40px;
  }
}

.location-form:focus {
  border: none;
  border-bottom: 2px solid #F05E6C;
  outline: none;
}

.btn{
  margin-top: 100px;
  background: transparent;
  border: none;
  color: #F05E6C;
}

input,.m-title{
  color: #5664AD;
  font-weight: bold;
  // font-family: 'Raleway', sans-serif;
}

h1,h2,h3,h4,h5,h6,p,text{
  font-family: 'Raleway', sans-serif;
  // color: #D5D5D5;
}


.location-div{
  margin-top: 40px;
}

// .styled-select {
//    background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
//    height: 29px;
//    overflow: hidden;
//    width: 240px;
// }
//
// .styled-select select {
//    background: transparent;
//    border: none;
//    font-size: 40px;
//    height: 29px;
//    padding: 5px; /* If you add too much padding here, the options won't show in IE */
//    width: 268px;
// }

.styled-select.slate {
   background: rgba(0,0,0,0.0);
   height: 68px;
   font-size: 40px;
   width: 480px;
}

.styled-select.slate select {
   border: 1px solid #ccc;
   font-size: 45px;
   height: 34px;
   width: 268px;
}
