/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";




body{
  // background-image:
  margin-bottom: 0px;
  background-image: image-url(inroute_city_high_angle);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  vertical-align: top;
  max-height: 500px;
  .over-lay{
    background-color: rgba(7,33,27,0.8);
    // min-height: 700px;
    @media(min-width: 1000px) {
      // Any CSS in here will only be applied if the screen width is less than or equal to 1200px wide
      min-height: 700px;
    }
    @media(max-width: 800px){
      min-height: 1700px;
    }
  }
}
.main-title{
  vertical-align: middle;
}

#service_request_car_features{
  min-width: 600px;
}

.navbar{
  background-color: #081423;
  min-height: 100px;
}

.location-form{
  background-image: none;
  background: transparent;
  border: none;
  border-bottom: 1px solid #D5D5D5;
  color: #D5D5D5;
  min-width: 400px;
  margin-left: 5px;
  @media(min-width: 1000px) {
    // Any CSS in here will only be applied if the screen width is less than or equal to 1200px wide
    min-height: 700px;
  }
  @media(min-width: 700px){
    min-height: 200px;
    min-width: 500px;
    font-weight: bold;
    font-size: 40px;
  }
}

.location-form:focus {
  border: none;
  border-bottom: 2px solid #40B040;
  outline: none;
}

.btn{
  margin-top: 100px;
  background: transparent;
  border: none;
  color: #40B040;
}

input,.m-title{
  color: #D5D5D5;
}

h1,h2,h3,h4,h5,h6,p,text{
  font-family: 'Raleway', sans-serif;
  // color: #D5D5D5;
}


.location-div{
  margin-top: 40px;
}
